<p class='comment-body'>
  {{model.body}}
</p>

{{#if this.delete-comment}}
<span class="edit-indicator"
  onClick={{this.edit-comment}}>
</span>
<span class="delete-indicator"
  onClick={{this.delete-comment}}>
</span>
{{/if}}

{{#if model.updatedAt}}
  <span class="posted-at">
    {{moment-from-now model.updatedAt}}
  </span>
{{/if}}